<%= form_with(model: complain) do |form| %>
  <% if current_user.is_complainer %>
    <div class="field form-group">
      <%= form.label :Title %>
      <%= form.text_field :title, class:"form-control"%>
    </div>
    <div class="field form-group">
      <%= form.label :Description %>
      <%= form.text_area :content, class:"form-control"%>
    </div>
    <div class="field form-group">
      <%= form.label :Location %>
      <%= form.text_field :location, class:"form-control"%>
    </div>
    <div class="field form-group">
      <%= form.label :image %>
      <%= form.file_field :image, class:"form-control" %>
    </div>
  <% end %>
  <% if current_user.is_customercare %>
    <div class="field form-group">
      <%= form.label :start_date %>
      <%= form.date_select :start_date, class:"form-control"%>
    </div>
    <div class="field form-group">
      <%= form.label :end_date %>
      <%= form.date_select :end_date, class:"form-control"%>
    </div>
    <div class="field form-group">
      <%= form.label :resolve %>
      <%= form.check_box :resolve%>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit class:"btn btn-sm btn-primary"%>
  </div>
<% end %>
