<div class="card">
  <div class="card-header text-center">
  <h5>Title: <%= @complain.title %></h5>
  </div><br>
  
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
    <p>
      <strong>Location:</strong>
      <%= @complain.location %>
    </p>
      <% if @complain.image.attached? %>
        <%= image_tag @complain.image, style: "width:300px;" %>
      <% end %>
    </div>
    <div class="col-lg-4">
    <p>
      <strong>Description:</strong>
      <%= @complain.content %>
    </p>
    <p>
      <strong>Start date:</strong>
      <%= @complain.start_date %>
    </p>

    <p>
      <strong>End date:</strong>
      <%= @complain.end_date %>
    </p>

    <p>
      <strong>Resolve:</strong>
      <%= @complain.resolve %>
    </p>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <br>
</div>

<%= render "comments/comment" %>
<br>

