<%= form_with(model: complain) do |form| %>
  <% if complain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complain.errors.count, "error") %> prohibited this complain from being saved:</h2>

      <ul>
        <% complain.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, class: "form-control" %>
  </div>
 
  <div class="field form-group">
    <%= form.label :end_date %>
    <%= form.date_field :end_date, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :resolve %>
    <%= form.boolean_field :resolve, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>

